{
  "extends": "eslint:recommended",
  "env": {
    "browser": true
  },
  "globals": {
    "Player": true,
    "PLANET": true,
    "Controls": true,
    "PLAYER": true,
    "PLAYER_BULLET": true,
    "BULLET": true,
    "ENEMY": true,
    "Enemy": true,
    "Explosion": true,
    "Planet": true,
    "Bullet": true,
    "p2": true,
    "strokeCircle": true
  },
  "rules": {
    "no-console": ["off"]
  }
}
